@import "tailwindcss";

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    @apply bg-slate-950 text-slate-100 antialiased;
    margin: 0;
  }
}
